1. What are data structures, and why are they important?
 * Data structures are ways of organizing and storing data. They are important
because they make data access and manipulation more efficient.

2. Explain the difference between mutable and immutable data types with examples.
* Mutable types can be changed after creation, like lists and dictionaries. Immutable types cannot be changed after creation, like strings and tuples.

3. What are the main differences between lists and tuples in Python?
* Lists can be changed, while tuples cannot. Lists are used for dynamic data, and tuples are used for fixed data.

4. Describe how dictionaries store data.

* Dictionaries store data in pairs of keys and values. Each key points to a specific value.

5. Why might you use a set instead of a list in Python?
* Sets are used when you want to store only unique items and check for membership quickly.

6. What is a string in Python, and how is it different from a list?
* A string is a sequence of characters and cannot be changed. A list is a sequence of items that can be changed.

7. How do tuples ensure data integrity in Python?
* Tuples cannot be changed after creation, which keeps the data safe from accidental updates.

8. What is a hash table, and how does it relate to dictionaries in Python?
* A hash table is a structure that stores data using a special key system. Python dictionaries use hash tables to find values quickly.

9. Can lists contain different data types in Python?
* Yes, lists can hold items of different types, like numbers, words, and more.

10. Explain why strings are immutable in Python.

* Strings are immutable to make them safe, fast, and reliable, especially when used in key-based operations.

11. What advantages do dictionaries offer over lists for certain tasks?
* Dictionaries allow fast lookups using meaningful keys, while lists require searching by position.

12. Describe a scenario where using a tuple would be preferable over a list.
* Use a tuple when the data should stay the same, like storing dates or coordinates.

13. How do sets handle duplicate values in Python?
* Sets automatically remove duplicates, so each value appears only once.

14. How does the “in” keyword work differently for lists and dictionaries?
* In lists, it checks if a value exists. In dictionaries, it checks if a key exists.

15. Can you modify the elements of a tuple? Explain why or why not.
* No, tuples cannot be changed. This helps keep the data safe and fixed.

16. What is a nested dictionary, and give an example of its use case.
* A nested dictionary is a dictionary inside another dictionary. It's useful for storing complex data, like student records.

17. Describe the time complexity of accessing elements in a dictionary.
* Accessing a value in a dictionary is very fast and usually takes constant time.

18. In what situations are lists preferred over dictionaries?
* Lists are better when you need to keep order, allow duplicates, or use position-based access.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
* Dictionaries were unordered in earlier versions. Now they keep order, but keys should still be used for access, not positions.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
* Lists retrieve items by position. Dictionaries retrieve items using a key.

1. Write a code to create a string with your name and print it

In [31]:
name = "Navya"
print(name)

Navya

2. Write a code to find the length of the string "Hello World"

In [32]:
text = "Hello World"
print(len(text))

11

3. Write a code to slice the first 3 characters from the string "Python Programming"

In [33]:
text = "Python Programming"
print(text[:3])

Pyt

4. Write a code to convert the string "hello" to uppercase

In [34]:
word = "hello"
print(word.upper())

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [35]:
sentence = "I like apple"
print(sentence.replace("apple", "orange"))

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it

In [36]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [37]:
sentence = "I like apple"
print(sentence.replace("apple", "orange"))

I like orange

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [38]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [39]:
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

10. Write a code to reverse the list [10, 20, 30, 40, 50]

In [40]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

11. Create a tuple with the elements 100, 200, 300 and print it

In [41]:
numbers = (100, 200, 300)
print(numbers)

(100, 200, 300)

12. Access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [42]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

13. Find the minimum number in the tuple (10, 20, 5, 15

In [43]:
nums = (10, 20, 5, 15)
print(min(nums))

5

14. Find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [44]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

15. Create a tuple with three fruits and check if "kiwi" is in it.

In [45]:
fruits = ("apple", "banana", "mango")
print("kiwi" in fruits)

False

16. Create a set with elements 'a', 'b', 'c' and print it.

In [46]:
letters = {'a', 'b', 'c'}
print(letters)

{'b', 'a', 'c'}

17. Clear all elements from the set {1, 2, 3, 4, 5}.

In [47]:
nums = {1, 2, 3, 4, 5}
nums.clear()
print(nums)

set()

18. Remove the element 4 from the set {1, 2, 3, 4}.

In [48]:
nums = {1, 2, 3, 4}
nums.remove(4)
print(nums)

{1, 2, 3}

19. Find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [49]:
a = {1, 2, 3}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5}

20. Find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [50]:
a = {1, 2, 3}
b = {2, 3, 4}
print(a.intersection(b))

{2, 3}

21. Create a dictionary with keys "name", "age", and "city", and print it.

In [51]:
person = {"name": "Anna", "age": 28, "city": "Delhi"}
print(person)

{'name': 'Anna', 'age': 28, 'city': 'Delhi'}

22. Add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [52]:
info = {'name': 'John', 'age': 25}
info['country'] = 'USA'
print(info)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Access the value for the key "name" in {'name': 'Alice', 'age': 30}.

In [53]:
data = {'name': 'Alice', 'age': 30}
print(data['name'])

Alice

24. Remove the key "age" from {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [54]:
details = {'name': 'Bob', 'age': 22, 'city': 'New York'}
details.pop('age')
print(details)

{'name': 'Bob', 'city': 'New York'}

25. Check if the key "city" exists in {'name': 'Alice', 'city': 'Paris'}.

In [55]:
profile = {'name': 'Alice', 'city': 'Paris'}
print('city' in profile)

True

26. Create a list, a tuple, and a dictionary, and print them all.

In [56]:
my_list = [1, 2, 3]
my_tuple = ('a', 'b', 'c')
my_dict = {'x': 10, 'y': 20}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
('a', 'b', 'c')
{'x': 10, 'y': 20}

27. Create a list of 5 random numbers between 1 and 100, sort it, and print the result.

In [57]:
import random
nums = random.sample(range(1, 101), 5)
nums.sort()
print(nums)

[3, 12, 21, 33, 61]

28. Create a list with strings and print the element at the third index.

In [58]:
words = ["apple", "banana", "cherry", "date", "fig"]
print(words[3])

date

29. Combine two dictionaries into one and print the result.

In [59]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Convert a list of strings into a set.

In [60]:
names = ["apple", "banana", "apple", "cherry"]
unique_names = set(names)
print(unique_names)

{'apple', 'banana', 'cherry'}